.form {
    background-color: rgb(40, 40, 40);
    margin-top: 60px;
    width: 450px;
    border-radius: 20px;
    padding-top: 7px;
    -webkit-box-shadow: 8px 8px 27px 8px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 27px 8px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 27px 8px rgba(66, 68, 90, 1);
}

.form__group {
    padding: 6px 35px;
    color: white;
    font-family: "Nunito", sans-serif;
}

.input {
    border: 4px solid rgb(131, 131, 131);
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: "Nunito", sans-serif;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(40, 40, 40);
    border: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.button:hover {
    color: white;
    background: rgb(131, 58, 180);
    background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 7%,
        rgba(253, 29, 29, 1) 50%,
        rgba(252, 176, 69, 1) 100%
    );
    -webkit-box-shadow: 3px 3px 20px 2px rgba(221, 221, 230, 1);
    -moz-box-shadow: 3px 3px 20px 2px rgba(221, 221, 230, 1);
    box-shadow: 3px 3px 20px 2px rgba(221, 221, 230, 1);
}
